$main-text-color: #303247;
$border-color: #3032471A;
$button-color: #F6E308;
$button-color-disabled: #F6E20889;
$loan-invested: #51A571;
$loan-error: #F00;
$font-size-xs: 16px;
$font-size-s: 20px;
$font-size-m: 25px;
$font-size-l: 30px;
$font-size-xl: 35px;
$font-weight-s: 400;
$font-weight-m: 500;
$font-weight-l: 600;
