.App {
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 15px;

  &__header {
    padding: 20px;
    font-weight: bold;
    border-bottom: 1px solid gray;
  }
}
