@import './styles/variables';

.App {
  display: flex;
  flex-direction: column;

  &__header {
    padding: 32px 64px;
    font-weight: 600;
    font-size: 30px;
    color: $main-text-color;
    border-bottom: 1px solid $border-color;
  }
}
